.saiyou {
    position: relative;
    padding: 0 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: .5s;
    align-items: center;
}

.saiyou_naiyou{
    font-family: "M PLUS Rounded 1c";
    font-size: 20px;
    color: black;
    text-align: center;
}

.shokushu{
    font-family: "M PLUS Rounded 1c";
    font-size: 30px;
    color: rgb(14, 152, 158);
}

.koumoku{
    font-family: "M PLUS Rounded 1c";
    font-size: 20px;
    color: rgb(14, 152, 158);
    width: 100px;
}

.saiyou_setsumei{
    font-family: "M PLUS Rounded 1c";
    font-size: 20px;
    color: red;
}

.tr1{
    background-color: white;
}

.tr2{
    background-color: rgba(255, 255, 0, 0.082);
}