.daimei {
    font-family: "M PLUS Rounded 1c";
    font-size: 45px;
    color: rgb(14, 152, 158);
}

.naiyou {
  font-family: "M PLUS Rounded 1c";
  font-size: 25px;
  color: black;
  font-weight: bold;
}
