.saiyou {
    position: relative;
    padding: 0 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: .5s;
}

.saiyou_naiyou{
    font-family: "M PLUS Rounded 1c";
    font-weight: bold;
    color: black;
}

.shokushu{
    font-family: "M PLUS Rounded 1c";
    font-weight: bold;
    font-size: 25px;
    color: black;
}
