<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="euc-jp">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <div class="edit_popup">
        <ul class="popup_con">
            <div class="inqCheck-col-lg-5" style="margin-top:0px">
                <div class="bg-primary rounded h-100 d-flex align-items-center p-5" data-wow-delay="0.9s">
                    <div class="row g-3 inquiryDiv">
                        <div class="col-xl-12">
                            <input type="text" id="userName" class="form-control bg-light border-0" th:value="${inquriyDto.place}" style="height: 55px;" readonly>
                        </div>
                        <div class="col-xl-12">
                            <input type="text" id="userName" class="form-control bg-light border-0" th:value="${inquriyDto.userName}" style="height: 55px;" readonly>
                        </div>
                        <div class="col-12">
                            <input type="text" id="userEmail" class="form-control bg-light border-0" th:value="${inquriyDto.userEmail}" style="height: 55px;" readonly>
                        </div>
                        <div class="col-12">
                            <input type="text" id="phone" class="form-control bg-light border-0" th:value="${inquriyDto.phone}"style="height: 55px;" readonly>
                        </div>
                        <div class="col-12">
                            <input type="text" id="inqContent" class="form-control bg-light border-0" th:value="${inquriyDto.inqContent}"style="height: 55px;" readonly>
                        </div>
                        <div class="col-12">
                            <textarea id="inqMessage" class="form-control bg-light border-0" rows="3" th:text="${inquriyDto.inqMessage}" readonly="readonly"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        <div class="popup_btn_wrap">
            <button type="button" class="send" onclick="inquriySubmit()">보내기</button>
            <button type="button" class="cancel">닫기</button>
        </div>
    </div>

<script type="text/javascript" th:inline="javascript">
$(function(){
    
    $('.cancel').click(function(){
        $('.inquriyCheck_pupup').css('display','none');
    $('body').css('overflow-y','visible');
    });
});
function inquriySubmit() {
    
    wrapWindowByMask();

    /*<![CDATA[*/
    var inquiryDto = /*[[ ${inquriyDto} ]]*/
        console.log("inDto" + JSON.stringify(inquiryDto));
	/*]]>*/

    Pace.track(function(){
        $.ajax({
            type : "POST",
            url : "./welfare/inquiry",
            headers: {'Content-Type': 'application/json'},
            data : JSON.stringify(inquiryDto),
            processData: false,
            contentType: false,
            success : function (data) {
                alert("完了");
                location.reload();
            },
            
        });
    });
}

</script>
</html>