<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 head-->
<th:block th:replace="fragments/head :: head"></th:block>   
    
<body>
    <!-- 공통 header-->
    <th:block th:replace="fragments/header :: header"></th:block>

    <div layout:fragment="content" class="content"></div>

    <!-- 공통 footer-->
    <th:block th:replace="fragments/footer :: footer"></th:block>

    <!-- 공통 script-->
    <th:block th:replace="fragments/script :: script"></th:block>

    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
</body>
</html>