<!DOCTYPE html>
<html
xmlns:th="http//www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main}"
>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/assets/css/fancybox/fancybox.css"/>
    <link rel="stylesheet" href="/assets/css/welfare/facility.css">
    <link rel="stylesheet" href="/assets/css/information.css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript" src="/assets/js/fancybox/fancybox.js"></script>
    <script type="text/javascript" src="/assets/js/slick/slick.js"></script>
</th:block>

<div layout:fragment="content" class="hospiceContent">
    <!-- Full Screen Search Start -->
    <div class="container-fluid bg-primary py-5 bg-header">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">施設紹介</h1>
                <!-- <h5 class="text-white">施設</h5> -->
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->
    <!-- top nav -->
    <div class="top-nav">
        <ul>
            <li><a href="/">ホーム</a></li>
            <li><a href="/place/placeSaitama">事業所案内</a></li>
            <li><a href="/greetings">ご挨拶</a></li>
            <li><a href="/welfare/facility">施設紹介</a></li>
            <li><a href="/welfare/nurse">サービス内容</a></li>
            <li><a href="/#inquiryA" class="inquiryA2">ご対応について</a></li>
        </ul>
    </div>

    <!-- 시설 소개 Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h1 class="mb-0">医修館 鶴ヶ島</h1>
            </div>
            <div class="row d-flex g-5">
                <div class="col-lg-12">
                    <div>
                        <h4>医修館 鶴ヶ島は、高度な医療ケアを必要とされる方々が安心して最期まで生活していただけることを目的とした賃貸住宅です。<br>最期まで寄りそったケアを提供させていただきます。</h4>
                    </div>
                    <!-- <img class="" src="/assets/img/newImg/rec.jpg" alt=""> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h1 class="mb-0">医修館 鶴ヶ島について</h1>
            </div>
            <div class="row d-flex g-5">
                <div class="col-lg-12">
                    <div>
                        <h4>1.医修館 鶴ヶ島は 「医療ケアを必要とされる方々が安心・安全に地域で生活を送ることが出来る」 を基本理念とし、<br>&nbsp;&nbsp;&nbsp;必要な医療・看護・介護を受けながら最期まで暮らしていただける賃貸住宅です。</h4>
                        <br>
                        <h4>2.医修館 鶴ヶ島はご入居に際して制約はございません。<br>&nbsp;&nbsp;&nbsp;施設型ホスピスではありませんので 「がん」 やALS等 「難病」 の方等<br>&nbsp;&nbsp;&nbsp;非がん患者の皆さまにも対応させていただきます。</h4>
                        <br>
                        <h4>3.医修館 鶴ヶ島はあなたの 「家」 です。 <br>&nbsp;&nbsp;&nbsp;介護保険・医療保険・障害者総合支援法に基づいた<br>&nbsp;&nbsp;&nbsp;在宅サービスがすべてお使いになれますので安心して<br>&nbsp;&nbsp;&nbsp;ご利用ください。</h4>
                        <br>
                        <h4>4.医修館 鶴ヶ島は3つの安心をお約束いたします。<br>
                        医 : 24時間365日体制でスタッフが対応いたします。<br>&nbsp;&nbsp;&nbsp;ご自宅では困難な医療処置も安心して受けていただくことができます。
                        <br>&nbsp;&nbsp;&nbsp;また急な体調不良時には提携医師への連携を速やかに行う事により<br>&nbsp;&nbsp;&nbsp;より一層の安心をお約束いたします。<br>
                        食:毎日のお食事は常食・ソフト食・ミキサー食等、お一人おひとりに<br>&nbsp;&nbsp;&nbsp;合った食事形態をご用意いたします。<br>
                        住:お部屋は全室完全個室となっております。お好きな家財のお持ち込みも<br>&nbsp;&nbsp;&nbsp;できますのでご自分の空間でゆったりとお過ごしいただけます。
                        <br>&nbsp;&nbsp;&nbsp;全室にナースコールが設置されておりますのでご安心ください。</h4>
                    </div>
                    <!-- <img class="" src="/assets/img/newImg/rec.jpg" alt=""> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5 bg-lt-green wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="white-card">
                        <img class="" src="/assets/img/newImg/new_02.jpg" alt="">
                        <div>
                            <h4 style="padding: 20px;">エントランスは安心の2重扉となっており、安全な暮らしをお約束いたします。</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="white-card">
                        <img class="" src="/assets/img/newImg/new_11.jpg" alt="">
                        <div>
                            <h4>玄関を入ると事務室がございます。<br>スタッフが常住しておりますのでいつでも、お気軽にお声がけください。</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="white-card">
                        <img class="" src="/assets/img/newImg/new_04.jpg" alt="">
                        <div>
                            <h4>明るく広々としたダイニングでお食事を召し上がっていただけます。</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="white-card">
                        <img class="" src="/assets/img/newImg/new_05.jpg" alt="">
                        <div>
                            <h4>広々とした開放感あふれる公有スペースとなっております。<br>コミュニケーションの場として、ご面会の方たちとの歓談の場所としてご利用ください。</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="white-card">
                        <img class="" src="/assets/img/newImg/new_06.jpg" alt="">
                        <div>
                            <h4>館内の壁には安全面に配慮をし、手すりを取り付けております。<br>移動に不安をお持ちの方にも安心して廊下をご使用いただけます。</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="white-card">
                        <img class="" src="/assets/img/newImg/new_07.jpg" alt="">
                        <div>
                            <h4>居室にはキッチン、冷蔵庫、収納スペースも完備されております。</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="white-card">
                        <img class="" src="/assets/img/newImg/new_01.jpg" alt="">
                        <div>
                            <h4>居室には大きな窓があり明るく、フローリングの床は木のぬくもりを感じられます。</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="white-card">
                        <img class="" src="/assets/img/newImg/new_08.jpg" alt="">
                        <div>
                            <h4>安心してご利用いただけるよう、ナースコール、手すりを設置しております。</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="white-card">
                        <img class="" src="/assets/img/newImg/new_09.jpg" alt="">
                        <div>
                            <h4>全室にナースコールが設置されており安心してご利用いただけます。<br>使い慣れる家財のお持ち込みもできますので、ご自分のライフスタイルに合わせた空間でお過ごしいただけます。</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="white-card">
                        <img class="" src="/assets/img/newImg/new_12.jpg" alt="">
                        <div>
                            <h4>大きなタイプのお部屋もお選びいただけます。</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 시설 소개 End -->

    <!-- 시설 종류 Start -->
    <!-- <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="faccol-lg-5">
                    <div class="rounded h-100 facd-flex align-items-center p-5 wow zoomIn" style="visibility: visible;
                    animation-delay: 0.9s;
                    animation-name: zoomIn;
                    padding: 0 !important;" data-wow-delay="0.9s">
                        <div class="nav_fancy">
                            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                                <h5 class="fw-bold text-primary text-uppercase">地域によって価格差がある場合があります。</h5>
                                <h1 class="mb-0">施設紹介</h1>
                            </div>
                            <nav class="facilityNavbar facility-navbar-expand-custom facility-navbar-mainbg">
                                <button class="facility-navbar-toggler" type="button" aria-controls="facility-SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="facility-fas facility-fa-bars facility-text-white"></i>
                                </button>
                                <div class="facility-navbar-collapse" id="facility-SupportedContent">
                                    <ul class="facility-navbar-nav facility-ml-auto">
                                        <div class="facility-hori-selector"><div class="left"></div><div class="right"></div></div>
                                        <li class="active">
                                            <a href="javascript:void(0);" id="Atype" class="nav-link" onclick="typeSelect(this);"><i class="fa-solid fa-house-chimney-medical"></i>A-Type</a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0);" id="Btype" class="nav-link" onclick="typeSelect(this);"><i class="fa-solid fa-house-chimney-user"></i>B-Type</a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0);" id="Ctype" class="nav-link" onclick="typeSelect(this);"><i class="fa-solid fa-house-chimney-window"></i>C-Type</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="row g-3 facility_fancy_box_wrap">  
                            <div class="facilityFancy">
                                <div id="mainCarousel" class="carousel w-10/12 max-w-5xl mx-auto">
                                    <div class="carousel__slide" data-src="/assets/img/introduce/Atype1.jpg" data-fancybox="gallery" data-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis ultricies ipsum, a maximus ligula dignissim in. Sed consectetur tellus egestas, consequat dolor at, tempus augue. Morbi quis ipsum quis velit.">
                                        <img src="/assets/img/introduce/Atype1.jpg" />
                                    </div>
                                    <div class="carousel__slide" data-src="/assets/img/introduce/Atype2.jpg" data-fancybox="gallery" data-caption="Ut semper, justo eget vehicula vestibulum, enim enim suscipit lectus, et sagittis nibh risus vel metus. Quisque eu ornare ante, et gravida mauris">
                                        <img src="/assets/img/introduce/Atype2.jpg" />
                                    </div>
                                    <div class="carousel__slide" data-src="https://lipsum.app/id/3/900x600" data-fancybox="gallery" data-caption="Hello 🖐">
                                        <img src="https://lipsum.app/id/3/600x400" />
                                    </div>
                                    <div class="carousel__slide" data-src="https://lipsum.app/id/4/900x600" data-fancybox="gallery" data-caption="Another caption">
                                        <img src="https://lipsum.app/id/4/600x400" />
                                    </div>
                                    <div class="carousel__slide" data-src="https://lipsum.app/id/5/900x600" data-fancybox="gallery">
                                        <img data-lazy-src="https://lipsum.app/id/5/600x400" />
                                    </div>
                                    <div class="carousel__slide" data-src="https://lipsum.app/id/6/900x600" data-fancybox="gallery">
                                        <img src="https://lipsum.app/id/6/600x400" />
                                    </div>
                                    <div class="carousel__slide" data-src="https://lipsum.app/id/7/900x600" data-fancybox="gallery">
                                        <img src="https://lipsum.app/id/7/600x400" />
                                    </div>
                                </div>
                                
                                <div id="thumbCarousel" class="carousel max-w-xl mx-auto">
                                    <div class="carousel__slide">
                                        <img class="panzoom__content" src="/assets/img/introduce/Atype1.jpg" />
                                    </div>
                                    <div class="carousel__slide">
                                        <img class="panzoom__content" src="/assets/img/introduce/Atype2.jpg" />
                                    </div>
                                    <div class="carousel__slide">
                                        <img class="panzoom__content" src="https://lipsum.app/id/3/100x100" />
                                    </div>
                                    <div class="carousel__slide">
                                        <img class="panzoom__content" src="https://lipsum.app/id/4/100x100" />
                                    </div>
                                    <div class="carousel__slide">
                                        <img class="panzoom__content" src="https://lipsum.app/id/5/100x100" />
                                    </div>
                                    <div class="carousel__slide">
                                        <img class="panzoom__content" src="https://lipsum.app/id/6/100x100" />
                                    </div>
                                    <div class="carousel__slide">
                                        <img class="panzoom__content" src="https://lipsum.app/id/7/100x100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- 시설 종류 End -->
    
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h1 class="daimei">ホスピス共同住宅<br>「医修館 鶴ヶ島」の特徴</h1>
                    </div>
                    <p class="naiyou">
                        末期がんの方や人工呼吸器に頼らざるを得ない方、神経変性疾患等の特定疾患をお持ちの方、障害のある方など、慢性期・終末期医療やケアを受けておられる方のなかには自宅や介護施設で療養生活を送りたくても、安心して療養生活を送ることができない方がいます。
                    </p>
                    <p class="naiyou">
                        「医修館 鶴ヶ島」は、24時間365日看護師や介護士による安心で安全ケアと見守りにより、専門的な医療・介護にも対応できる「賃貸住宅」です。外部の医師やケアマネジャーとの連携のもと、ご本人にとって大切な時間を、痛みや苦しみなく過ごしていただくための安らぎの療養の場です。
                    </p>
                </div>
                <div class="col-lg-6" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                            src="/assets/img/newImg/new_13.jpg" style="object-fit: cover; display:block; margin: auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

<script type="text/javascript">
$(function() {
    
    setTimeout(function(){ navbarActive(); });

    $(window).on('resize', function(){
        setTimeout(function(){ navbarActive(); }, 500);
    });

    $(".facility-navbar-toggler").click(function(){
        $(".facility-navbar-collapse").slideToggle(300);
        setTimeout(function(){ navbarActive(); });
    });

    facilityFancybox();
    
});
function typeSelect(e) {
    var typeCheck = $(e).attr("id");
    $.post('/welfare/typeInview', {typeCheck:typeCheck}, function(data){
        $('.facilityFancy').remove();
        $('.facility_fancy_box_wrap').html(data);
    });
}
// ---------Responsive-navbar-active-animation-----------
function navbarActive(){
	var tabsNewAnim = $('#facility-SupportedContent');
	var selectorNewAnim = $('#facility-SupportedContent').find('li').length;
	var activeItemNewAnim = tabsNewAnim.find('.active');
	var activeWidthNewAnimHeight = activeItemNewAnim.innerHeight();
	var activeWidthNewAnimWidth = activeItemNewAnim.innerWidth();
	var itemPosNewAnimTop = activeItemNewAnim.position();
	var itemPosNewAnimLeft = activeItemNewAnim.position();

	$(".facility-hori-selector").css({
		"top":itemPosNewAnimTop.top + "px", 
		"left":itemPosNewAnimLeft.left + "px",
		"height": activeWidthNewAnimHeight + "px",
		"width": activeWidthNewAnimWidth + "px"
	});
	$("#facility-SupportedContent").on("click","li",function(e){
		$('#facility-SupportedContent ul li').removeClass("active");
		$(this).addClass('active');
		var activeWidthNewAnimHeight = $(this).innerHeight();
		var activeWidthNewAnimWidth = $(this).innerWidth();
		var itemPosNewAnimTop = $(this).position();
		var itemPosNewAnimLeft = $(this).position();
		$(".facility-hori-selector").css({
			"top":itemPosNewAnimTop.top + "px", 
			"left":itemPosNewAnimLeft.left + "px",
			"height": activeWidthNewAnimHeight + "px",
			"width": activeWidthNewAnimWidth + "px"
		});
	});
}

function facilityFancybox () {
    // Initialise Carousel
    const mainCarousel = new Carousel(document.querySelector("#mainCarousel"), {
        Dots: false,
    });
    
    // Thumbnails
    const thumbCarousel = new Carousel(document.querySelector("#thumbCarousel"), {
        Sync: {
            target: mainCarousel,
            friction: 0,
        },
        Dots: false,
        Navigation: false,
        center: true,
        slidesPerPage: 1,
        infinite: false,
    });
    
    // Customize Fancybox
    Fancybox.bind('[data-fancybox="gallery"]', {
        Carousel: {
            on: {
                change: (that) => {
                    mainCarousel.slideTo(mainCarousel.findPageForSlide(that.page), {
                        friction: 0,
                    });
                },
            },
        },
    });

    // sider
    const menus = document.querySelectorAll(".facilitySider");
    menus.forEach((menu) => {
        const menuItems = menu.querySelectorAll(".facilitySider-item");
        menuItems.forEach((item) => {
            item.addEventListener("click", (e) => {
                menuItems.forEach((item) => item.classList.remove("active"));
                const target = e.target;
                target.classList.add("active");
            });
        });
    });
}

</script>