<div class="facilityFancy wow fadeInUp">
    <div id="mainCarousel" class="carousel w-10/12 max-w-5xl mx-auto">
        <div class="carousel__slide" data-src="/assets/img/introduce/Atype1.jpg" data-fancybox="gallery" data-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis ultricies ipsum, a maximus ligula dignissim in. Sed consectetur tellus egestas, consequat dolor at, tempus augue. Morbi quis ipsum quis velit.">
            <img src="/assets/img/introduce/Atype1.jpg" />
        </div>
        <div class="carousel__slide" data-src="/assets/img/introduce/Atype2.jpg" data-fancybox="gallery" data-caption="Ut semper, justo eget vehicula vestibulum, enim enim suscipit lectus, et sagittis nibh risus vel metus. Quisque eu ornare ante, et gravida mauris">
            <img src="/assets/img/introduce/Atype2.jpg" />
        </div>
        <!-- <div class="carousel__slide" data-src="https://lipsum.app/id/3/900x600" data-fancybox="gallery" data-caption="Hello 🖐">
            <img src="https://lipsum.app/id/3/600x400" />
        </div>
        <div class="carousel__slide" data-src="https://lipsum.app/id/4/900x600" data-fancybox="gallery" data-caption="Another caption">
            <img src="https://lipsum.app/id/4/600x400" />
        </div>
        <div class="carousel__slide" data-src="https://lipsum.app/id/5/900x600" data-fancybox="gallery">
            <img data-lazy-src="https://lipsum.app/id/5/600x400" />
        </div>
        <div class="carousel__slide" data-src="https://lipsum.app/id/6/900x600" data-fancybox="gallery">
            <img src="https://lipsum.app/id/6/600x400" />
        </div>
        <div class="carousel__slide" data-src="https://lipsum.app/id/7/900x600" data-fancybox="gallery">
            <img src="https://lipsum.app/id/7/600x400" />
        </div> -->
    </div>
    
    <div id="thumbCarousel" class="carousel max-w-xl mx-auto">
        <div class="carousel__slide">
            <img class="panzoom__content" src="/assets/img/introduce/Atype1.jpg" />
        </div>
        <div class="carousel__slide">
            <img class="panzoom__content" src="/assets/img/introduce/Atype2.jpg" />
        </div>
        <!-- <div class="carousel__slide">
            <img class="panzoom__content" src="https://lipsum.app/id/3/100x100" />
        </div>
        <div class="carousel__slide">
            <img class="panzoom__content" src="https://lipsum.app/id/4/100x100" />
        </div>
        <div class="carousel__slide">
            <img class="panzoom__content" src="https://lipsum.app/id/5/100x100" />
        </div>
        <div class="carousel__slide">
            <img class="panzoom__content" src="https://lipsum.app/id/6/100x100" />
        </div>
        <div class="carousel__slide">
            <img class="panzoom__content" src="https://lipsum.app/id/7/100x100" />
        </div>  -->
    </div>
</div>
<script type="text/javascript">
$(function(){
    facilityFancybox();
});
</script>