<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hospice.care.model.dao.InquiryMapper">

	<resultMap type="InquiryDto" id="InquiryDtoResultMap">
		<result property="inqUID" column="INQ_UID"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userEmail" column="PHONE"/>
		<result property="phone" column="USER_EMAIL"/>
		<result property="inqMessage" column="INQ_MESSAGE"/>
		<result property="inqDate" column="INQ_DATE"/>
	</resultMap>

    <insert id="insertInquiryDto" parameterType="InquiryDto">
        INSERT INTO hospice_inquiry_user (
			USER_NAME,
			USER_EMAIL,
			PHONE,
			INQ_MESSAGE,
			INQ_DATE	
		) VALUES (
			#{userName},
			#{userEmail},
			#{phone},
			#{inqMessage},
			#{inqDate}
		)
    </insert>

</mapper>