
<!DOCTYPE html>
<html
xmlns:th="http//www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main}"
>

<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous"
/>

<!-- greetings.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/assets/css/information.css">
</th:block>

<th:block layout:fragment="content">
    
    <!-- Full Screen Search Start -->
    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">挨拶</h1>
                <h5 class="text-white">挨拶</h5>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->

    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h1 class="daimei">ご挨拶</h1>
                    </div>
                    <p class="naiyou">私は、過去に様々な事業に携わってきましたが、この「医修館」という事業には、特別大きな使命感を感じています。ある日突然、医者から余命を宣告されたとき、人はどう思うのでしょうか？今まで元気で生活することが当たり前だった人が、これをどう思うのでしょうか？ある人は驚き、ある人は悲しみ、ある人はそれを静かに受け止めることでしょう。私は、この「医修館」の役割を、がんや難病で闘病が続き、身体だけでなく、心までも傷ついてしまった方々へ、死への不安や孤独感を取り除き、穏やかに安心して最後まで暮らせる「家」を提供することだと考えています。<br>
                    2020年にがんで死亡した人は約38万人にも及びます。末期がん患者うち、50%以上の人が自宅での最期を望んでいます。しかしながら、家族に迷惑を掛けられないという理由で自宅に帰らない人もいますし、そもそも家族がいらっしゃらないので自宅に帰らない人もいます。私は、そのような人たちの願いをこの「医修館」で、叶えてあげたいと思い、設立に至りました。<br>
                    つらい闘病生活を少しでも和らげ、安らかな環境で生活を送っていただきたい。<br>
                    人生の幕が降りるその時まで、その人に相応しい日々を過ごしていただきたい。<br>
                    「医修館」の基本理念は、そこにあります。<br>
                    これからも皆様に相応しい「家」と「暮らし」をお届けしてまいります。<br>
                    </p>
                    <p class="naiyou" style="text-align: right;">株式会社西芝 代表取締役 橋本 結城</p>

                </div>
                <div class="col-lg-6" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover; display:block; margin: auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/lib/wow/wow.min.js"></script>
    <script src="/assets/lib/easing/easing.min.js"></script>
    <script src="/assets/lib/waypoints/waypoints.min.js"></script>
    <script src="/assets/lib/counterup/counterup.min.js"></script>
    <script src="/assets/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/assets/js/main.js"></script>
</body>

</html>