<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

<!-- greetings.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/assets/css/greetings.css">
    <link rel="stylesheet" href="/assets/css/information.css">
</th:block>

<th:block layout:fragment="content">

    <!-- Full Screen Search Start -->
    <div class="container-fluid bg-primary py-5 bg-header">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">ごあいさつ</h1>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

    <!-- top nav -->
    <div class="top-nav">
        <ul>
            <li><a href="/">ホーム</a></li>
            <li><a href="/place/placeSaitama">事業所案内</a></li>
            <li><a href="/greetings">ご挨拶</a></li>
            <li><a href="/welfare/facility">施設紹介</a></li>
            <li><a href="/welfare/nurse">サービス内容</a></li>
            <li><a href="/#inquiryA" class="inquiryA2">ご対応について</a></li>
        </ul>
    </div>

    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->

    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="greerow g-5">
                <div class="col-lg-6">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h1 class="daimei">ごあいさつ</h1>
                    </div>
                    <p class="greetings">
                        &nbsp; 平素は格別のご高配を賜わり、厚く御礼申し上げます。
                        <br>
                        この度多くの皆さまのお声をいただき
                        &nbsp; 「ホスピス共同住宅医修館 鶴ヶ島」を開設致します運びと
                        なりました。 
                        <br><br>
                        がんや難病などで辛い闘病生活を送られていらっしゃる多くの
                        方々が人生の最期をご自宅で迎えることを望まれておられるようです。 
                        <br>
                        しかし、残念ながらお看取りをされる場所の多くは病院である事が現状のようです。 
                        ご家族がご多忙で介護が困難な状況であったり、老いた方が老いた方を介護しなければならない「老々介護」であったり、
                        おひとり住まいであったりと生活背景はさまざまですが、少子化、超高齢社会の日本では
                        ご自宅での介護が困難である方々が今後も増えていくとされています。 
                        私はさまざまな事業に携わって参りましたが、自分らしく生活をしながら最期を迎える場所を充足させることが今後のおおきな課題であると考えております。 
                        人生の最期まで可能な限り住み慣れた地域で生活し、自分らしい暮らしを読けることができるよう介護サービスを通じて社会貢献の一助となることを
                        「医修館 鶴ヶ島」を通して皆さまにお約束いたします。 
                        <br><br>
                    </p>
                    <p class="greetings" style="text-align: right; margin:0;">ホスピス共同住宅医修館 鶴ヶ島</p>
                    <p class="greetings" style="text-align: right; margin:0;">株式会社西芝 代表取締役</p>
                    <p class="greetings" style="text-align: right; margin:0;">橋本 結城</p>
                </div>
                <div class="col-lg-6" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                            src="/assets/img/医修館ロゴ.png" style="object-fit: contain; display:block; margin: auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

</th:block>

</html>