<!DOCTYPE html>
<html
xmlns:th="http//www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main}"
>

<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous"
/>

<!-- information.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/assets/css/information.css">
</th:block>

<th:block layout:fragment="content">
    
    <!-- Full Screen Search Start -->
    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">情報</h1>
                <h5 class="text-white">情報</h5>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->

    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h1 class="daimei">ホスピスケア住宅「医修館鶴ヶ島」の特徴</h1>
                    </div>
                    <p class="naiyou">1．医修館鶴ヶ島は看取り施設です。ホスピスの語源は「お客様を暖かくもてなす」です。これを理念として、医療的ケアを必要とする「がん」「難病」の方などを中心に長期的医療をしながら最後まで暮らしていただく賃貸住宅です。</p>
                    <p class="naiyou">2．医修館鶴ヶ島は入居の際に制約はありません。がんとエイズ患者に限られる施設型ホスピスではなく、ALS等の「難病」の方など非がん患者の皆様にも対応させていただく賃貸住宅です。</p>
                    <p class="naiyou">3．医修館鶴ヶ島は抗がん剤治療中の方でも入居できます。専門のスタッフのサポートのもと緩和ケア支援をさせていただきます。</p>
                    <p class="naiyou">4．医修館鶴ヶ島は賃貸住宅です。つまり、あなたの「家」です。介護保険、医療保険及び障害者総合支援法に基づく在宅サービスがすべてお使いになれます。</p>
                </div>
                <div class="col-lg-6" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover; display:block; margin: auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h1 class="daimei">ホスピスケア住宅「医修館鶴ヶ島」の特徴</h1>
                    </div>
                    <p class="naiyou">末期がんの方や人工呼吸器に頼らざるを得ない方、神経変性疾患等の特定疾患をお持ちの方、障害のある方など、慢性期・終末期医療やケアを受けておられる方のなかには自宅や介護施設で療養生活を送りたくても、安心して療養生活を送ることができない方がいます。</p>
                    <p class="naiyou">「医修館鶴ヶ島」は、24時間365日看護師や介護士による安心で安全ケアと見守りにより、専門的な医療・介護にも対応できる「賃貸住宅」です。外部の医師やケアマネジャーとの連携のもと、ご本人にとって大切な時間を、痛みや苦しみなく過ごしていただくための安らぎの療養の場です。</p>
                </div>
                <div class="col-lg-6" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover; display:block; margin: auto">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div>
                    <div class="section-title position-relative pb-3 mb-5">
                        <h1 class="daimei">ホスピスケア住宅とは？</h1>
                    </div>
                    <p class="naiyou">がんや難病など専門的なホスピスケアを必要とする患者さんが集まって住む療養型共同住宅。</p>
                    <br><br>
                    <img height="500px" width="500px" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover; float: left;">
                    <img height="500px" width="500px" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover; float: right;">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title position-relative pb-3 mb-5">
                <h1 class="daimei">難民化する日本の終末ケア</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-6">
                    <img height="500px" width="500px" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover; display:block; margin: auto;">
                    <br><br>
                    <p class="naiyou mb-4">推定によると、「医療機関以外での看取り先確保が困難」とされ、死亡場所の推定が明示されていません。厚生労働省の「全国在宅医療会議」では、<span style="color: cornflowerblue;">自宅や非医療機関での看取り率25％を目標</span>としています。<span style="color: cornflowerblue;">訪問看護事業所は、自宅あるいは介護施設での最期を安心して看取れるよう、努力していく必要があります。</span></p>
                </div>
                <div class="col-lg-6" style="min-height: 500px;">
                    <p class="naiyou" style="text-align: center; color: red;">増加するがんと難病死亡者数</p>
                    <div class="position-relative h-100">
                        <br>
                        <img height="500px" width="500px" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover; display:block; margin: auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

</html>