<!DOCTYPE html>

<html
xmlns:th="http//www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/default}"
>

<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous"
/>


<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/information.css">
</th:block> 
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</th:block>


<th:block layout:fragment="content">
    
    <!-- Full Screen Search Start -->
    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">情報</h1>
                <h5 class="text-white">情報</h5>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->

    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h1 class="daimei">がん患者、難病患者の深刻な看取り難民化</h1>
                    </div>
                    <p class="naiyou">死因者数1位のがん患者、難病患者（331疾病）は増加する一方「慢性的、終末期医療を必要とする患者の受け入れ先が不足している」という事実。</p>
                    <p class="naiyou">自宅と病院のいいころだけを取り入れた住宅が必要とされています。</p>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h1 class="daimei">看護師を中心とした多職種チームでホスピスケア</h1>
                    </div>
                    <p class="naiyou">ホスピスケア住宅の安心感を支えているのは、看護師を中心とした多職種のスペシャリストたちです。</p>
                    <p class="naiyou">看護師、介護士、各種療法士、調理師、事務職員、外部の在宅医がチームとなり患者さん一人ひとりと向き合っています。</p>
                    <p class="naiyou">看護師が24時間共に生活する事で、病状の変化にもいち早く気づき、細やかな緩和ケアをおこなうことができます。</p>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div>
                    <div class="section-title position-relative pb-3 mb-5">
                        <h1 class="daimei">ホスピスケア住宅とは？</h1>
                    </div>
                    <p class="naiyou">がんや難病など専門的なホスピスケアを必要とする患者さんが集まって住む療養型共同住宅。</p>
                    <br><br>
                    <img height="500px" width="500px" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover; float: left;"><img height="500px" width="500px" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover; float: right;">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h1 class="daimei">難民化する日本の終末ケア</h1>
                    </div>
                    <img height="500px" width="720px" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover;">
                    <br><br>
                    <p class="naiyou">推定によると、「医療機関以外での看取り先確保が困難」とされ、死亡場所の推定が明示されていません。厚生労働省の「全国在宅医療会議」では、<span style="color: cornflowerblue;">自宅や非医療機関での看取り率25％を目標</span>としています。<span style="color: cornflowerblue;">訪問看護事業所は、自宅あるいは介護施設での最期を安心して看取れるよう、努力していく必要があります。</span></p>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <br><br><br><br><br>
                        <p class="naiyou" style="text-align: center; color: red;">増加するがんと難病死亡者数</p>
                        <br>
                        <img height="500px" width="500px" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/lib/wow/wow.min.js"></script>
    <script src="/assets/lib/easing/easing.min.js"></script>
    <script src="/assets/lib/waypoints/waypoints.min.js"></script>
    <script src="/assets/lib/counterup/counterup.min.js"></script>
    <script src="/assets/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/assets/js/main.js"></script>
</body>

</html>