.body-wrapper { overflow: hidden; } 
section { min-height: 36vh; margin-top: 60px; } 
a,
a:hover,
a:focus,
a:active { text-decoration: none; outline: none; } 
a,
a:active,
a:focus { color: #6f6f6f; text-decoration: none; transition-timing-function: ease-in-out; -ms-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-duration: .2s; -ms-transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s; } 
ul { margin: 0; padding: 0; list-style: none; } 
img { max-width: 100%; height: auto; } 
.section_title { margin-bottom: 40px; } 
.section_title h2 { color: #333333; font-size: 25px; font-weight: 700; letter-spacing: 1.8px; text-transform: uppercase; } 
.brand_border .fa.fa-minus { color: #fff; font-size: 8px; height: 2px; background: #F8C01B none repeat scroll 0 0; width: 100px; } 
.brand_border .fas.fa-handshake { font-size: 14px; color:#000000; } 
.section_title p { color: #333333; font-size: 14px; line-height: 25px; padding: 14px 0; } 
.choose_us .section_title { margin-top: 45px; } 
#service .single_service { padding: 32px; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); margin-bottom: 50px; height: -webkit-fill-available; } 
#service .single_service:hover { box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4); } 
#service .icon { border: 1px solid #666; border-radius: 5%; color: #333333; font-size: 35px; line-height: 65px; overflow: hidden; text-align: center; text-decoration: none; width: 70px; } 
#service .single_service .single_service-left { padding-right: 25px; } 
.single_service-heading { font-size: 31px; font-weight: 700; text-transform: uppercase; color: #000; } 
.single_service-body p { font-size: 28px; line-height: 25px; } 
.single_service-left { display: table-cell; vertical-align: top; } 
.single_service-body { color: #333333; display: table-cell; vertical-align: top; } 
.hvr-curl-top-right { display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px transparent; position: relative; } 
#service .single_service:hover { background: #F8C01B none repeat scroll 0 0; } 

/* 3D Slideshow */ 
.slideshow-title {font-family: "M PLUS Rounded 1c";font-size: 62px;color: #fff;margin: 0 auto;text-align: center;margin-top: 25%;letter-spacing: 3px;font-weight: 300; } 
.sub-heading {padding-top: 50px;font-size: 18px; } .sub-heading-two {font-size: 15px; } .sub-heading-three {font-size: 13px; } .sub-heading-four {font-size: 11px; } .sub-heading-five {font-size: 9px; } .sub-heading-six {font-size: 7px; } .sub-heading-seven {font-size: 5px; } .sub-heading-eight {font-size: 3px; } .sub-heading-nine {font-size: 1px; } 
.entire-content {margin: auto;width: 190px;perspective: 1000px;position: relative;padding-top: 80px; } 
.content-carrousel {width: 100%;position: absolute;float: right;animation: rotar 15s infinite linear;transform-style: preserve-3d; } 
.content-carrousel:hover {animation-play-state: paused;cursor: pointer; } 
.content-carrousel figure {width: 100%;height: 120px;border: 1px solid #3b444b;overflow: hidden;position: absolute; } 
.content-carrousel figure:nth-child(1) {transform: rotateY(0deg) translateZ(300px); } .content-carrousel figure:nth-child(2) {transform: rotateY(40deg) translateZ(300px); } .content-carrousel figure:nth-child(3) {transform: rotateY(80deg) translateZ(300px); } .content-carrousel figure:nth-child(4) {transform: rotateY(120deg) translateZ(300px); } .content-carrousel figure:nth-child(5) {transform: rotateY(160deg) translateZ(300px); } .content-carrousel figure:nth-child(6) {transform: rotateY(200deg) translateZ(300px); } .content-carrousel figure:nth-child(7) {transform: rotateY(240deg) translateZ(300px); } .content-carrousel figure:nth-child(8) {transform: rotateY(280deg) translateZ(300px); } .content-carrousel figure:nth-child(9) {transform: rotateY(320deg) translateZ(300px); } .content-carrousel figure:nth-child(10) {transform: rotateY(360deg) translateZ(300px); } 
.shadow { position: absolute; box-shadow: 0px 0px 20px 0px #000; border-radius: 1px; } 
.content-carrousel img {image-rendering: auto;transition: all 300ms;width: 100%;height: 100%; } 
.content-carrousel img:hover {transform: scale(1.2);transition: all 300ms; } 
@keyframes rotar {from {transform: rotateY(0deg); } to {transform: rotateY(360deg); }}

  /* pdf */
.pdf_popup_wrap{width: 100%; height: 100%; background: rgba(0, 0, 0, .4); display: none; align-items: center; justify-content: center; position: fixed; z-index: 1000; top: 50%; transform: translate(-50%, -50%); left: 50%;}
.pdf_popup_wrap .edit_popup{width: 1400px; padding: 30px; box-sizing: border-box; background: #fff; border-radius: 10px; box-shadow: 0 0 16px 0 rgba(0, 0, 0, .2);}
.pdf_popup_wrap .edit_popup .popup_con{display: flex; align-items: center; flex-wrap: wrap; width: 100%;}
.pdf_popup_wrap .edit_popup .popup_btn_wrap{position: relative; display: flex; align-items: center; justify-content: center; width: 100%; margin-top: 30px;}
.pdf_popup_wrap .edit_popup .popup_btn_wrap button{width: 150px; height: 50px; border-radius: 5px; box-sizing: border-box; font-size: 16px; font-weight: 600;}
.pdf_popup_wrap .edit_popup .popup_btn_wrap button.cancel{border: 1px solid #d4d9dc; background: #fff; margin-right: 15px;}
  /* pdf */