<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="InquiryMapper.xml"/>
    </mappers>
    <typeAliases>
        <typeAlias alias="townmapTypeHomeVO" type="kr.co.nubiz.home.programs.townmap.service.TownmapTypeHomeVO"/>
    </typeAliases>
</configuration>