<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- Navbar & Carousel Start -->
<div th:fragment="header" class="body-wrapper">
<header id="header">
    <!-- Navbar & Carousel Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="/" class="navbar-brand p-0">
                <h1 class="m-0"><img src="/assets/img/医修館ロゴ.png" style="width: 100px;"></img>医修館</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse" style="margin-right: 3%;">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link">ホーム</a>
                    <a href="/place/placeHome" class="nav-item nav-link">事務所案内</a>
                    <a href="/greetings" class="nav-item nav-link">ご挨拶</a>
                    <a href="/welfare/facility" class="nav-item nav-link">施設紹介</a>
                    <a href="/welfare/nurse" class="nav-item nav-link">サービス内容</a>
                    <a href="/#inquiryA" class="nav-item nav-link">ご対応について</a>
                    <!-- <div class="nav-item dropdown">
                        <a href="/welfare/facility" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">サービス案内</a>
                        <div class="dropdown-menu m-0">
                            <a href="/welfare/facility" class="dropdown-item">施設紹介</a>
                            <a href="/welfare/nurse" class="dropdown-item">サービス内容</a>
                        </div>
                    </div>
                    <a href="/#moveInA" id="moveInA" class="nav-item nav-link">入居までの流れ</a>
                    <a href="/#inquiryA" id="inquiryA" class="nav-item nav-link">お問い合わせ</a>
                    <a href="/welfare/money" class="nav-item nav-link">価格表</a> -->
                    <!-- <a href="/recruit" class="nav-item nav-link">リクルート</a> -->
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar & Carousel End -->
</header>
</html>