<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- Navbar & Carousel Start -->
<div th:fragment="header" class="body-wrapper">
<header>
    <!-- Navbar & Carousel Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="/" class="navbar-brand p-0">
                <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>ホスピスケア</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <div class="nav-item dropdown">
                        <a href="/welfare/facility" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">サービス案内</a>
                        <div class="dropdown-menu m-0">
                            <a href="/welfare/facility" class="dropdown-item">施設紹介</a>
                            <a href="/welfare/equipment" class="dropdown-item">設備紹介</a>
                            <a href="/welfare/nurse" class="dropdown-item">看護紹介</a>
                        </div>
                    </div>
                    <a href="/place/placeHome" class="nav-item nav-link">施設探し</a>
                    <a href="javascript:;" id="inquiryA" class="nav-item nav-link">お問い合わせ</a>
                    <a href="/contact" class="nav-item nav-link">採用広告</a>
                    <div class="nav-item dropdown">
                        <a href="/facility" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">会社概要</a>
                        <div class="dropdown-menu m-0">
                            <a href="/aisatsu" class="dropdown-item">社長あいさつ</a>
                            <a href="/information" class="dropdown-item">情報</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 top-social text-center text-md-right">
                    <ul class="list-unstyled">
                    <li>
                        <a class="sns" title="Facebook" href="https://facebbok.com/themefisher.com">
                            <span class="social-icon"><i class="fab fa-facebook-f"></i></span>
                        </a>
                        <a class="sns" title="Twitter" href="https://twitter.com/themefisher.com">
                            <span class="social-icon"><i class="fab fa-twitter"></i></span>
                        </a>
                        <a class="sns" title="Instagram" href="https://instagram.com/themefisher.com">
                            <span class="social-icon"><i class="fab fa-instagram"></i></span>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar & Carousel End -->
</header>
</html>