<!DOCTYPE html>
<html
xmlns:th="http//www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main}"
>
<th:block layout:fragment="script">
    <script src="/assets/js/pace/pace.min.js" data-pace-options='{ "startOnPageLoad": false }'></script>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/assets/css/index.css">
</th:block>    
<th:block layout:fragment="content">
    <div class="inquriyCheck_pupup"></div>
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="/assets/img/introduce/main.jpg" id="main-photo" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <!-- <h5 class="text-white text-uppercase mb-3 animated slideInDown">ホスピスケアの特別なサービス</h5> -->
                        <h3 class="display-1 text-white mb-md-4 animated zoomIn" style="font-size: calc(1rem + 3vw);">あなたに相応しい<br>「家」と「暮らし」を<br>届けたい</h3>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="/assets/img/introduce/room_c1.jpg" id="main-photo" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <!-- <h5 class="text-white text-uppercase mb-3 animated slideInDown">ホスピスケアの愛の巣</h5> -->
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn" style="font-size: calc(1rem + 3vw);">安らかな環境を<br>提供します</h1>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto">
                <h5 class="fw-bold text-green text-uppercase">サービス</h5>
                <h1 class="mb-0">いつも最善を尽くしてそばで<br>守って差し上げます。</h1>
            </div>
            <div class="row g-5" style="justify-content: space-around;">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="blog-item bg-lt-green rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <a href="/welfare/facility" class="text-uppercase"><img class="img-fluid" src="/assets/img/introduce/living1.jpg" alt=""></a>
                        </div>
                        <div class="p-4">
                            <h4 class="mb-3">施設</h4>
                            <p>| Atype | Btype | Ctype |</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="blog-item bg-lt-green rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <a href="/welfare/nurse" class="text-uppercase"><img class="img-fluid" src="/assets/img/introduce/main.jpg" alt=""></a>
                        </div>
                        <div class="p-4">
                            <h4 class="mb-3">看護</h4>
                            <p>サービス</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Start -->

    <!-- Testimonial Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-green text-uppercase">サービス</h5>
                <h1 class="mb-0">皆様に安心で安全な安らぎを<br>ご提供します</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
                <div class="testimonial-item bg-lt-beige my-4" id="index-carousel">
                    <div class="row d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <div class="ps-4">
                            <h4 class="text-d-green text-center mb-2">看護師による<br>24時間安心・安全ケア</h4>
                        </div>
                        <img class="img-fluid rounded" src="/assets/img/index/index-1.png" >
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        夜間にも看護師1名＋介護職員1名以上が対応いたします。<br>入居者お一人おひとりに常にケアの目が行き届く安心をお約束いたします。
                    </div>
                </div>
                <div class="testimonial-item bg-lt-beige my-4" id="index-carousel">
                    <div class="row d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <div class="ps-4">
                            <h4 class="text-d-green text-center mb-2">最期まで<br>責任あるケア</h4>
                        </div>
                        <img class="img-fluid rounded" src="/assets/img/index/index-2.png">
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        最期までご自宅のようなぬくもりある環境で過ごせます。<br>ご本人、ご家族の意思を第一に考えて対応いたします。
                    </div>
                </div>
                <div class="testimonial-item bg-lt-beige my-4" id="index-carousel">
                    <div class="row d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <div class="ps-4">
                            <h4 class="text-d-green text-center mb-2">主治医による<br>継続診療が可能</h4>
                        </div>
                        <img class="img-fluid rounded" src="/assets/img/index/index-3.png" >
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        主治医による訪問診療、急変時の対応が可能です。<br>主治医がいない場合は、病状に適した在宅医療の医師をご紹介いたします。
                    </div>
                </div>
                <div class="testimonial-item bg-lt-beige my-4" id="index-carousel">
                    <div class="row d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <div class="ps-4">
                            <h4 class="text-d-green text-center mb-2">ケアマネジャーの<br>継続利用可能</h4>
                        </div>
                        <img class="img-fluid rounded" src="/assets/img/index/index-4.png" >
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        現在の担当ケアマネジャーをそのままご継続していただけます。<br>ケアマネジャーがいない場合は当館でご紹介いたします。
                    </div>
                </div>
                <div class="testimonial-item bg-lt-beige my-4" id="index-carousel">
                    <div class="row d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <div class="ps-4">
                            <h4 class="text-d-green text-center mb-2">24時間365日<br>ご家族様の面会が可能</h4>
                        </div>
                        <img class="img-fluid rounded" src="/assets/img/index/index-5.png">
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        24時間365日、ご家族様の面会が可能です。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5 align-items-center">
            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">資料請求・見学希望</a>
        </div>
    </div> -->


    <div class="moveInA"><br><br><br></div>
    <section class="ps-timeline-sec wow fadeInUp">
        <div class="container">
            <h1 class="mb-0" style="text-align: center; margin-top: 100px;">入居までの流れ</h1>
            <ol class="ps-timeline">
                <li>
                    <div class="img-handler-top">
                        <img src="/assets/img/index/Interview.png" class="procedure_img"/>
                    </div>
                    <div class="ps-bot">
                        <h4 class="ps-timeline-h5">お問い合わせ</h4>
                        <p>まずは、お問合せください。<br>施設環境や⽣活の様⼦、医療対応・医療連携などパンフレットでは判らないことをご説明いたします。<br>また⾒学予約も承ります。</p>
                    </div>
                    <span class="ps-sp-top">1</span>
                </li>
                <li>
                    <div class="img-handler-bot">
                        <img src="/assets/img/index/calendar.png" class="procedure_img"/>
                    </div>
                    <div class="ps-top">
                        <h4 class="ps-timeline-h5">施設見学</h4>
                        <p>館内をご⾒学いただきます。<br>ご⾒学の際、パンフレットや重要事項説明書をもとに施設利⽤についてご説明いたします。<br>また現在お困りのことなどを確認させていただきます。</p>
                    </div>
                    <span class="ps-sp-bot">2</span>
                </li>
                <li>
                    <div class="img-handler-top">
                        <img src="/assets/img/index/agreement.png" class="procedure_img"/>
                    </div>
                    <div class="ps-bot">
                        <h4 class="ps-timeline-h5">事前面談</h4>
                        <p>施設管理者や看護師がご本⼈様やご家族様と⾯談を⾏います。<br>病院に⼊院している場合は病院へ伺わせていただきます。<br>⼼⾝のご状態などを確認させていただき、その後ご⼊居可否のご連絡を差し上げます。</p>
                    </div>
                    <span class="ps-sp-top">3</span>
                </li>
                <li>
                    <div class="img-handler-bot">
                        <img src="/assets/img/index/house.png" class="procedure_img"/>
                    </div>
                    <div class="ps-top">
                        <h4 class="ps-timeline-h5">ご契約</h4>
                        <p>サービス付き⾼齢者向け住宅との契約の他、利⽤する事業所（訪問診療・訪問看護・訪問介護・薬局他）と個別に契約を結んでいただきます。<br>指定医療費（指定難病）受給者証をお持ちの場合、指定医療機関にクリニック・薬局・訪問看護を⼊居⽇までに⼊れてもらうよう⾏政（保健所）へご依頼ください。</p>
                    </div>
                    <span class="ps-sp-bot">4</span>
                </li>
            </ol>
        </div>
    </section>

    <div class="inquiryA"><br><br><br></div>
    <!-- Quote Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-primary text-uppercase">相談</h5>
                        <h1 class="mb-0">いつでもお問い合わせください。</h1>
                    </div>
                    <div class="row gx-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                            <h5 class="mb-4"><i class="fa fa-phone-alt text-primary me-3"></i>09：30  ~  18：00</h5>
                        </div>
                    </div>
                    <p class="mb-4">電話でお問い合わせするお客様は下の支店選択を、<br>メールでお問い合わせするお客様は右のメールサービスを利用してください。
                    </p>
                    <div class="d-flex align-items-center mt-2 wow zoomIn" data-wow-delay="0.6s">
                        <div class="d-flex align-items-center justify-content-center rounded" style="background-color: #0e989e; width: 60px; height: 60px; margin-bottom: 50px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ps-4" style="height:100px">
                            <h4 class="text-primary mb-0 finderTel" style="padding-top:10px">03-6284-2566</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5" style="margin-top:0px">
                    <div class="rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s" style="background-color: #0e989e;">
                        <form id="inquiry" method="post">
                            <div class="row g-3 inquiryDiv">
                                <div class="col-12">
                                    <select id="place" class="form-select bg-lt-green border-0" name="place" style="height: 55px;">
                                        <option value="0"selected>場所選択</option>
                                        <option value="東京">東京</option>
                                        <option value="大阪">大阪</option>
                                        <option value="札幌">札幌</option>
                                    </select>
                                </div>
                                <div class="col-xl-12">
                                    <input type="text" id="userName" class="form-control bg-lt-green border-0" name="userName" placeholder="フルネーム" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <input type="text" id="userEmail" class="form-control bg-lt-green border-0" name="userEmail" placeholder="メール" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <input type="text" id="phone" class="form-control bg-lt-green border-0" name="phone" placeholder="電話番号" maxlength="13" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <div class="form-control bg-lt-green border-0">
                                    <span class="mb-4" style="margin-right: 20px;">お問い合わせ内容 &nbsp; -></span>
                                    <label><input type="radio" name="inqContent" value="資料"/>資料&nbsp;&nbsp;</label>
                                    <label><input type="radio" name="inqContent" value="見学"/>見学</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <textarea id="inqMessage" class="form-control bg-lt-green border-0" name="inqMessage" rows="3" placeholder="メッセージ"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-dark w-100 py-3" onclick="inqFormCheck()">確認後、メール送信</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quote End -->

<div id="mask"></div>
</th:block>
</html>

<script type="text/javascript">
$(function() {
    var page_url = window.location.href;
    var page_id = page_url.substring(page_url.lastIndexOf("#") + 1);
    
    if (page_id == 'inquiryA') {
        $('html, body').animate({scrollTop: $(".inquiryA").offset().top}, 500);
        history.pushState(state, title, "url");
    } else if (page_id == 'moveInA') {
        $('html, body').animate({scrollTop: $(".moveInA").offset().top}, 500);
        history.pushState(state, title, "ur2l");
    };

});

    $("#inquiryA").click(function(){
        var offset = $(".inquiryA").offset(); //해당 위치 반환
        $("html, body").animate({scrollTop: offset.top},500); 
    });

    $("#moveInA").click(function(){
        var offset = $(".moveInA").offset(); //해당 위치 반환
        $("html, body").animate({scrollTop: offset.top},500); 
    });

function officeTel(e) {
    var tel = e.value;
    $(".finderTel").text(tel);
}

function autoHypenPhone(str){
    str = str.replace(/[^0-9]/g, '');
    var tmp = '';
    if( str.length < 4){
        return str;
    }else if(str.length < 7){
        tmp += str.substr(0, 3);
        tmp += '-';
        tmp += str.substr(3);
        return tmp;
    }else if(str.length < 11){
        tmp += str.substr(0, 3);
        tmp += '-';
        tmp += str.substr(3, 3);
        tmp += '-';
        tmp += str.substr(6);
        return tmp;
    }else{              
        tmp += str.substr(0, 3);
        tmp += '-';
        tmp += str.substr(3, 4);
        tmp += '-';
        tmp += str.substr(7);
        return tmp;
    }
    return str;
}

var cellPhone = document.getElementById('phone');
cellPhone.onkeyup = function(event){
    event = event || window.event;
    var _val = this.value.trim();
    this.value = autoHypenPhone(_val) ;
}

function IsValid() {
    var blank_pattern = /^\s+|\s+$/g;
    var jpRegex = /^[\u30a0-\u30ff\u3040-\u309f\u3005-\u3006\u30e0-\u9fcf]+$/;
    var emailRegex = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
    var phRegex = /^0\d{1,3}-\d{2,4}-\d{3,4}$/;

    const frm = document.forms[0];
    const place = frm.place.value;
    const username = frm.userName.value;
    const useremail = frm.userEmail.value;
    const phone = frm.phone.value;
    const inqmessage = frm.inqMessage.value;

    if (place == 0) {
        alert("場所を選択してください。")
        return false;
    }

    if (username == '') {
        alert("名前を入力してください。");
        $("#userName").focus();
        return false;
    }
    
    if (!jpRegex.test(username)) {
        alert("名前を日本語で入力してください。");
        $("#userName").focus();
        return false;
    } 

    if (useremail == '') {
        alert("メールを入力してください。");
        $("#userEmail").focus();
        return false;
    } else {
        if (!emailRegex.test(useremail)) {
            alert("メール形式で入力してください。");
            $("#userEmail").focus();
            return false;
        }
    }

    if (phone == '') {
        alert("携帯番号を入力してください。");
        return false;
    } else {
        if (!phRegex.test(phone)) {
            alert("携帯番号を正確に入力してください。");
            return false;
        }
    }

    if ($("input[name=inqContent]:radio:checked").length < 1) {
        alert("お間に合わせの内容を選択してください。");
        return false;
    }

    if (inqmessage == '') {
        alert("お間に合わせを入力してください。");
        return false;
    }
    
    return true;
}


function wrapWindowByMask(){
	//화면의 높이와 너비를 구한다.
	var maskHeight = $(document).height();  
	var maskWidth = $(window).width();  
	
	//마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채운다.
	$('#mask').css({'width':maskWidth,'height':maskHeight});  
	
	//애니메이션 효과 - 일단 1초동안 까맣게 됐다가 80% 불투명도로 간다.
	//$('#mask').fadeIn(1000);      
	$('#mask').fadeTo("slow",0.6);    
}

function inqFormCheck() {

    if (!IsValid()){
        return;
    }
    let inquiryDto = new FormData($("#inquiry")[0]);

    $.ajax({
        url : "/welfare/inquriyCheck",
        type : "POST",
        data : inquiryDto,
        processData: false,
        contentType: false,
        success : function (data) {
            $(".inquriyCheck_pupup").empty();
            $(".inquriyCheck_pupup").html(data);
            $(".inquriyCheck_pupup").css("display", "flex");
        },
    });

}

</script>