<!DOCTYPE html>
<html
xmlns:th="http//www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main}"
>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/assets/css/information.css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" class="hospiceContent">
    <!-- Full Screen Search Start -->
    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">価格表</h1>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->
    <!-- 시설 타입 가격 Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h1 class="mb-0">価格表</h1>
            </div>
            <div class="row g-0">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="bg-light rounded">
                        <div class="border-bottom py-4 px-5 mb-4">
                            <h5 class="text-primary mb-1">ロースタンダード(全4室)(22.2㎡)</h5>
                            <small class="text-uppercase">標準備付家具：テレビ、冷蔵庫、ベッド、テーブル、椅子</small>
                        </div>
                        <div class="p-5 pt-0">
                            <h1 class="display-5 mb-3"><small class="align-top" style="font-size: 22px; line-height: 45px;">月額：</small>100,000円</h1>
                            <h6>(内訳/家賃：35,000円、食費：40,000円、&nbsp 管理費：25,000円)</h6>
                            
                            <div class="d-flex justify-content-between mb-3"><span>●お食事は、一日3食 約30日分のご提供になります</span></div>
                            <div class="d-flex justify-content-between mb-3"><span>●水道光熱費を別途、月々5,500円（税込み）頂戴いたします</span></div>
                            <div class="d-flex justify-content-between mb-3"><span>●入居時清掃費用：25,000円</span></div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="bg-white rounded shadow position-relative" style="z-index: 1;">
                        <div class="border-bottom py-4 px-5 mb-4">
                            <h4 class="text-primary mb-1">スタンダード(全32室)(22.2㎡)</h4>
                            <small class="text-uppercase">標準備付家具：テレビ、冷蔵庫、ベッド、テーブル、椅子</small>
                        </div>
                        <div class="p-5 pt-0">
                            <h1 class="display-5 mb-3"><small class="align-top" style="font-size: 22px; line-height: 45px;">月額：</small>110,000円</h1>
                            <h6>(内訳/家賃：45,000円、食費：40,000円、&nbsp 管理費：25,000円)</h6>
                            
                            <div class="d-flex justify-content-between mb-3"><span>●お食事は、一日3食 約30日分のご提供になります</span></div>
                            <div class="d-flex justify-content-between mb-3"><span>●水道光熱費を別途、月々5,500円（税込み）頂戴いたします</span></div>
                            <div class="d-flex justify-content-between mb-3"><span>●入居時清掃費用：25,000円</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="bg-light rounded">
                        <div class="border-bottom py-4 px-5 mb-4">
                            <h4 class="text-primary mb-1">ハイグレード(全12室)(35.6㎡)</h4>
                            <small class="text-uppercase">標準備付家具：テレビ、冷蔵庫、ベッド、テーブル、椅子</small>
                        </div>
                        <div class="p-5 pt-0">
                            <h1 class="display-5 mb-3"><small class="align-bottom" style="font-size: 22px; line-height: 45px;">月額：</small>120,000円</h1>
                            <h6>(内訳/家賃：55,000円、食費：40,000円、&nbsp 管理費：25,000円)</h6>
                            
                            <div class="d-flex justify-content-between mb-3"><span>●お食事は、一日3食 約30日分のご提供になります</span></div>
                            <div class="d-flex justify-content-between mb-3"><span>●水道光熱費を別途、月々5,500円（税込み）頂戴いたします</span></div>
                            <!-- <div class="d-flex justify-content-between mb-3"><span>●火災保険加入必須になります。4,100円</div> -->
                            <div class="d-flex justify-content-between mb-3"><span>●入居時清掃費用：25,000円</span></div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="g-0">
                <div class="mt-5 col-lg-12 wow slideInUp" data-wow-delay="0.9s">
                    <div class="rounded" style="background-color: #edf2f2;">
                        <div class="p-5">
                            <h4>日用品のお持ち込みの制限はございません。必要に応じて下記のオプションをお申し込みください。</h4><br>
                            <div class="d-flex justify-content-between mb-3"><span>●リネンサービス：寝具一式(月間契約になります)</span></div>
                            <div class="d-flex justify-content-between mb-3"><span>●日用品セット：タオル類一式、石鹸、シャンプー、リンス類、生活ペーパー類一式、洗面道具一式 など</span></div>
                            <div class="d-flex justify-content-between mb-3"><span>●洗濯サービス</span></div><br>
                            <h5>その他、詳しい費用に関しては弊社スタッフにお気軽にお尋ねください。</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="container" style="display:grid; place-content: center;">
                    <a href="https://ssl.form-mailer.jp/fms/7103b2ec712277" class="col-lg-12 btn btn-primary py-md-3 px-md-5 animated slideInLeft" style="width:300px;">資料請求・見学希望</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 시설 타입 가격End -->
</div>
</html>