<!DOCTYPE html>
<html
xmlns:th="http//www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main}"
>
<head>
<!-- index.html 고유 CSS 추가 -->
    <link rel="stylesheet" href="/assets/css/test.css">
</head>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" class="hospiceContent">
    <!-- Full Screen Search Start -->
    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">サービス</h1>
                <h5 class="text-white">施設</h5>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->
</div>
</html>

<script type="text/javascript">
$(function() {
    $("#inquiryA").click(function(){
        location.href = '/#test';
        mainInquiry();
    });
    

});

</script>