<!DOCTYPE html>
<html
xmlns:th="http//www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main}"
>
    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/assets/css/place/place.css">
    </th:block>
    <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script type="text/javascript" src="/assets/js/place/map.js"></script>
    </th:block>

    <div layout:fragment="content" class="hospiceContent">
        <!-- Full Screen Search Start -->
        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">施設探し</h1>
                    <h5 class="text-white">全国の医修館</h5>
                </div>
            </div>
        </div>
        <!-- Full Screen Search End -->

        <!-- map-contents start -->
        <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                    <h1 class="mb-0">施設マップ</h1>
                </div>
                <div class="row g-5">
                    <!-- google-map start -->
                    <div class="col-lg-8">
                        <div id="mapBox" class="cols-2" style="min-height: 350px; border:0;">
                            <script
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM3EkIRxquQ5P4oVMeucj_UlVJCTO3-uA&callback=initMap&v=weekly"
                            defer>
                            </script>
                        </div>
                        
                    </div>
                    <!-- google-map end -->

                    <!-- map-info start -->
                    <div class="col-lg-4">
                        <div id="mapInfo" class="p-4" >
                            <div class="row mb-3 mapInfoList"  onclick="location.href='https://www.google.co.jp/maps/dir//%E3%80%92101-0021+Tokyo,+Chiyoda+City,+Sotokanda,+5-ch%C5%8Dme%E2%88%922%E2%88%9211+%EC%84%B8%EC%9D%B4%ED%82%A4+%EC%A0%9C2%EB%B9%8C%EB%94%A9+2%E9%9A%8E/@35.7040555,139.7702527,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x60188c1e2f6307e3:0x27ad411d8c2a60fe!2m2!1d139.7724414!2d35.7040512?hl=ko'" id="info1">
                                <i class="fa-solid fa-location-check" style="color:red;"></i>
                                <h4>西芝</h4>
                                <p>東京都千代田区外神田五丁目2番11号 セイキ第2ビル2階</p>
                                
                            </div>    
                            <div class="row mb-3 mapInfoList"  onclick="location.href='https://www.google.co.jp/maps/dir//383+Kamihiroya,+Tsurugashima,+Saitama+350-2203/@35.9391854,139.4178015,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x6018d710bd4737b5:0x85124df463eb5d0b!2m2!1d139.4199902!2d35.9391811?hl=ko'" id="info2" >
                                <i class="fa-solid fa-location-check" style="color:red;"></i>
                                <h4>埼玉県｜医修館</h4>
                                <p>埼玉県鶴ヶ島市上広谷383</p>
                            </div>
                        </div>
                    </div>
                    <!-- map-info end -->
                </div>
            </div>
        </div>
        <!-- map-contents End -->

        <!-- placeHome list Start -->
        <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                    <h1 class="mb-0">施設リスト</h1>
                </div>
                <div class="row g-5">
                    <!-- placeSaitama -->
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.4s" onclick="location.href='/place/placeSaitama'" style="cursor: pointer;">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="/assets/img/blog-1.jpg" alt="">
                            </div>
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3"><i class="far fa-user text-primary me-2"></i>John Doe</small>
                                    <small><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</small>
                                </div>
                                <h4 class="mb-3">埼玉県｜医修館</h4>
                                <p>埼玉県鶴ヶ島市上広谷383</p>
                            </div>
                        </div>
                    </div>
                    <!-- placeTokyo -->
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.4s" onclick="location.href='/place/placeNishiba'" style="cursor: pointer;">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="/assets/img/blog-2.jpg" alt="">
                            </div>
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3"><i class="far fa-user text-primary me-2"></i>John Doe</small>
                                    <small><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</small>
                                </div>
                                <h4 class="mb-3">西芝</h4>
                                <p>address</p>
                            </div>
                        </div>
                    </div>
                    <!-- placeYokohama -->
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.4s" onclick="location.href='/place/placeTest'" style="cursor: pointer;">
                        <a href="">
                            <div class="blog-item bg-light rounded overflow-hidden">
                                <div class="blog-img position-relative overflow-hidden">
                                    <img class="img-fluid" src="/assets/img/blog-1.jpg" alt="">
                                </div>
                                <div class="p-4">
                                    <div class="d-flex mb-3">
                                        <small class="me-3"><i class="far fa-user text-primary me-2"></i>John Doe</small>
                                        <small><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</small>
                                    </div>
                                    <h4 class="mb-3">横浜｜医修館</h4>
                                    <p>address</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- plan -->
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.4s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="/assets/img/blog-3.jpg" alt="">
                                <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">建設中</a>
                            </div>
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3"><i class="far fa-user text-primary me-2"></i>John Doe</small>
                                    <small><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</small>
                                </div>
                                <h4 class="mb-3">建設中</h4>
                                <p>未定</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.4s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="/assets/img/blog-3.jpg" alt="">
                                <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">建設中</a>
                            </div>
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3"><i class="far fa-user text-primary me-2"></i>John Doe</small>
                                    <small><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</small>
                                </div>
                                <h4 class="mb-3">建設中</h4>
                                <p>未定</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- placeHome list End -->

    </div>
</html>
