<!DOCTYPE html>
<html
xmlns:th="http//www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main}"
>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/assets/css/facility.css">
    <link rel="stylesheet" href="/assets/css/place.css">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</th:block>

<div layout:fragment="content" class="hospiceContent">
    <!-- Full Screen Search Start -->
    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">施設探し</h1>
                <h5 class="text-white">埼玉県｜医修館</h5>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

    <div class="container-fluid">
        <!-- image slide start -->
        <div class="row g-5 wow slideInUp mb-5" data-wow-delay="0.1s">
            <h2 class="mb-4 text-center">
                <i class="fa-solid fa-circle-dot" style="color:green;"></i>
                埼玉｜医修館の内部
            </h2>
            <div>

            </div>
        </div>
        <!-- image slide end -->

        <!-- table info start -->
        <div class="container">
            <div class="row g-5 wow slideInUp mb-5" data-wow-delay="0.3s">
                <h2 class="mb-4 text-center">
                    <i class="fa-solid fa-circle-dot" style="color:green;"></i>
                    埼玉｜医修館の概要
                </h2>
                <div id="tableInfo" class="col-lg-12">
                    <div class="row">
                        <div class="infoT infoT1">
                            <div class="infoT-Header">ホスピスケア住宅<br>医修館鶴ヶ島</div>
                            <div class="infoT-body">埼玉県鶴ヶ島市上広谷383</div>  
                            <div class="infoT-body">call</div>      
                        </div>
                        <div class="infoT infoT2">
                            <div class="infoT-Header">建物</div>
                            <div class="infoT-body">開設年・月:2022年</div>
                            <div class="infoT-body">階数4階建</div>
                            <div class="infoT-body">鉄筋コンクリート造</div>
                        </div>
                        <div class="infoT infoT3">
                            <div class="infoT-Header">入居定員</div>
                            <div class="infoT-body">48名</div>
                            <div class="infoT-body">現在:</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- table info end -->

        <!-- access start -->
        <div class="row g-5 wow slideInUp mb-5" data-wow-delay="0.4s">
            <h2 class="text-center">
                <i class="fa-solid fa-circle-dot" style="color:green;"></i>
                アクセス
            </h2>
            
            <!-- google-map start -->
            <div class="container-fluid col-lg-6">
                <div id="mapBox" class="col-lg-12" style="min-height: 350px; border:0;">
                    <script
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM3EkIRxquQ5P4oVMeucj_UlVJCTO3-uA&callback=initMap&v=weekly"
                    defer>
                    </script>
                </div>
            </div>
            <!-- google-map end -->

        </div>
        <!-- access end -->

    </div>

</div>

</html>

<script>
    // google-map
    // Initialize and add the map
    function initMap() {
        // The map, centered at myLatLng
        const map = new google.maps.Map(document.getElementById("mapBox"), {
            zoom: 15,
            center: { lat: 35.93933743697428, lng: 139.4200116547968 },
        });
        
        setMarKers(map);
    }
    
    function setMarKers(map){
        // const image = {
        //     url: "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png",
        //     // This marker is 20 pixels wide by 32 pixels high.
        //     size: new google.maps.Size(20, 32),
        //     // The origin for this image is (0, 0).
        //     origin: new google.maps.Point(0, 0),
        //     // The anchor for this image is the base of the flagpole at (0, 32).
        //     anchor: new google.maps.Point(0, 32),
        // };
        // const shape = {
        //     coords: [1, 1, 1, 20, 18, 20, 18, 1],
        //     type: "poly",
        // };

        var marker = new google.maps.Marker({
                position: { lat: 35.93933743697428, lng: 139.4200116547968 },map,
                // icon: image,
                // shape: shape,
                title:　saitama,
                // label: {
                //     text: isyuukan[0],
                //     color: "#000000",
                //     fontweight: "bold",
                // },
                animation: google.maps.Animation.BOUNCE,
                
            });
    }

    window.initMap = initMap;

</script>

<script type="text/javascript">
$(function() {
    $("#inquiryA").click(function(){
        location.href = '/#placeSaitama';
        mainInquiry();
    });
    
});

$('.thumb-nav').slick({
    slidesToShow: 4,
    slidesToScroll: 1,
    infinite: true,
    centerPadding: '0px',
    asNavFor: '.main-img-slider',
    dots: false,
    centerMode: false,
    draggable: true,
    speed:200,
    focusOnSelect: true,
    prevArrow: '<div class="slick-prev"><i class="i-prev"></i><span class="sr-only sr-only-focusable">Previous</span></div>',
    nextArrow: '<div class="slick-next"><i class="i-next"></i><span class="sr-only sr-only-focusable">Next</span></div>'  
});

function officeTel(e) {
    var tel = e.value;
    $(".finderTel").text(tel);
}

function mainInquiry() {
    var offset = $(".inquiry").offset(); //해당 위치 반환
    $("html, body").animate({scrollTop: offset.top},500); 
}

/*--------------*/

// Initialise Carousel
const mainCarousel = new Carousel(document.querySelector("#mainCarousel"), {
    Dots: false,
});

// Thumbnails
const thumbCarousel = new Carousel(document.querySelector("#thumbCarousel"), {
    Sync: {
        target: mainCarousel,
        friction: 0,
    },
    Dots: false,
    Navigation: false,
    center: true,
    slidesPerPage: 1,
    infinite: false,
});

// Customize Fancybox
Fancybox.bind('[data-fancybox="gallery"]', {
    Carousel: {
        on: {
        change: (that) => {
            mainCarousel.slideTo(mainCarousel.findPageForSlide(that.page), {
            friction: 0,
            });
        },
        },
    },
});

</script>