<!DOCTYPE html>
<html
xmlns:th="http//www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main}"
>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/facility.css">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</th:block>

<div layout:fragment="content" class="hospiceContent">
    <!-- Full Screen Search Start -->
    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">施設探し</h1>
                <h5 class="text-white">埼玉県｜医修館</h5>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

    <h1 class="mt-12 mb-8 px-6 text-center text-lg md:text-2xl font-semibold">
        Carousel with thumbnail navigation and integrated Fancybox
    </h1>
    
    <div id="mainCarousel" class="carousel w-10/12 max-w-5xl mx-auto">
        <div class="carousel__slide" data-src="https://lipsum.app/id/1/900x600" data-fancybox="gallery" data-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis ultricies ipsum, a maximus ligula dignissim in. Sed consectetur tellus egestas, consequat dolor at, tempus augue. Morbi quis ipsum quis velit.">
            <img src="https://lipsum.app/id/1/600x400" />
        </div>
        <div class="carousel__slide" data-src="https://lipsum.app/id/2/900x600" data-fancybox="gallery" data-caption="Ut semper, justo eget vehicula vestibulum, enim enim suscipit lectus, et sagittis nibh risus vel metus. Quisque eu ornare ante, et gravida mauris">
            <img src="https://lipsum.app/id/2/600x400" />
        </div>
        <div class="carousel__slide" data-src="https://lipsum.app/id/3/900x600" data-fancybox="gallery" data-caption="Hello 🖐">
            <img src="https://lipsum.app/id/3/600x400" />
        </div>
        <div class="carousel__slide" data-src="https://lipsum.app/id/4/900x600" data-fancybox="gallery" data-caption="Another caption">
            <img src="https://lipsum.app/id/4/600x400" />
        </div>
        <div class="carousel__slide" data-src="https://lipsum.app/id/5/900x600" data-fancybox="gallery">
            <img data-lazy-src="https://lipsum.app/id/5/600x400" />
        </div>
        <div class="carousel__slide" data-src="https://lipsum.app/id/6/900x600" data-fancybox="gallery">
            <img src="https://lipsum.app/id/6/600x400" />
        </div>
        <div class="carousel__slide" data-src="https://lipsum.app/id/7/900x600" data-fancybox="gallery">
            <img src="https://lipsum.app/id/7/600x400" />
        </div>
    </div>
    
    <div id="thumbCarousel" class="carousel max-w-xl mx-auto">
        <div class="carousel__slide">
            <img class="panzoom__content" src="https://lipsum.app/id/1/100x100" />
        </div>
        <div class="carousel__slide">
            <img class="panzoom__content" src="https://lipsum.app/id/2/100x100" />
        </div>
        <div class="carousel__slide">
            <img class="panzoom__content" src="https://lipsum.app/id/3/100x100" />
        </div>
        <div class="carousel__slide">
            <img class="panzoom__content" src="https://lipsum.app/id/4/100x100" />
        </div>
        <div class="carousel__slide">
            <img class="panzoom__content" src="https://lipsum.app/id/5/100x100" />
        </div>
        <div class="carousel__slide">
            <img class="panzoom__content" src="https://lipsum.app/id/6/100x100" />
        </div>
        <div class="carousel__slide">
            <img class="panzoom__content" src="https://lipsum.app/id/7/100x100" />
        </div> 
    </div>
</div>

</html>

<script type="text/javascript">
$(function() {
    $("#inquiryA").click(function(){
        location.href = '/#placeSaitama';
        mainInquiry();
    });
    
});

$('.thumb-nav').slick({
    slidesToShow: 4,
    slidesToScroll: 1,
    infinite: true,
    centerPadding: '0px',
    asNavFor: '.main-img-slider',
    dots: false,
    centerMode: false,
    draggable: true,
    speed:200,
    focusOnSelect: true,
    prevArrow: '<div class="slick-prev"><i class="i-prev"></i><span class="sr-only sr-only-focusable">Previous</span></div>',
    nextArrow: '<div class="slick-next"><i class="i-next"></i><span class="sr-only sr-only-focusable">Next</span></div>'  
});

function officeTel(e) {
    var tel = e.value;
    $(".finderTel").text(tel);
}

function mainInquiry() {
    var offset = $(".inquiry").offset(); //해당 위치 반환
    $("html, body").animate({scrollTop: offset.top},500); 
}

/*--------------*/

// Initialise Carousel
const mainCarousel = new Carousel(document.querySelector("#mainCarousel"), {
    Dots: false,
});

// Thumbnails
const thumbCarousel = new Carousel(document.querySelector("#thumbCarousel"), {
    Sync: {
        target: mainCarousel,
        friction: 0,
    },
    Dots: false,
    Navigation: false,
    center: true,
    slidesPerPage: 1,
    infinite: false,
});

// Customize Fancybox
Fancybox.bind('[data-fancybox="gallery"]', {
    Carousel: {
        on: {
        change: (that) => {
            mainCarousel.slideTo(mainCarousel.findPageForSlide(that.page), {
            friction: 0,
            });
        },
        },
    },
});

</script>