<!DOCTYPE html>
<html
xmlns:th="http//www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main}"
>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/assets/css/place/place.css">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div layout:fragment="content" class="hospiceContent">
    <!-- Full Screen Search Start -->
    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">施設探し</h1>
                <h5 class="text-white">埼玉県｜医修館</h5>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

    <!-- image slide start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="contaienr py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h1 class="mb-0">埼玉｜医修館の内部</h1>
            </div>
            <!-- gallery-box start-->
            <div class="row g-5" id="gallery-box">
                <!-- gallery-item start -->
                <div class="col-lg-12 row">
                    <div class="col-lg-6 col-md-6 mb-3">
                        <div class="gallery-box-item">
                            <img src="/assets/img/blog-1.jpg" class="hover-shadow" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-3">
                        <div class="gallery-box-item">
                            <img src="/assets/img/blog-2.jpg" class="hover-shadow" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-3">
                        <div class="gallery-box-item">
                            <img src="/assets/img/blog-3.jpg" class="hover-shadow" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-3">
                        <div class="gallery-box-item">
                            <img src="/assets/img/carousel-1.jpg" class="hover-shadow" alt="">
                        </div>
                    </div>
                </div>
                <!-- gallery-item end -->
            </div>
            <!-- gallery-box end-->
        </div>
    </div>    
    <!-- image slide end -->    

    <!-- table info start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h1 class="mb-0">概要</h1>
            </div>
            <div class="row g-5" id="tableInfo">
                <div class="col-lg-4">
                    <div class="infoT infoT1">
                        <div class="infoT-Header">ホスピスケア住宅<br>医修館鶴ヶ島</div>
                        <div class="infoT-body">
                            <div class="infoT-body-item">埼玉県鶴ヶ島市上広谷383</div>
                            <div class="infoT-body-item">call</div>
                        </div>  
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="infoT infoT2">
                        <div class="infoT-Header">建物</div>
                        <div class="infoT-body">
                            <div class="infoT-body-item">開設年・月:2022年</div>
                            <div class="infoT-body-item">階数4階建</div>
                            <div class="infoT-body-item">鉄筋コンクリート造</div>
                        </div>
                    </div>
                    
                </div>    
                <div class="col-lg-4">
                    <div class="infoT infoT3">
                        <div class="infoT-Header">入居定員</div>
                        <div class="infoT-body">
                            <div class="infoT-body-item">48名</div>
                            <div class="infoT-body-item">現在:</div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>        
    <!-- table info end -->

    <!-- access start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h1 class="mb-0">アクセス</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-6">
                    <!-- google-map start -->
                    <iframe class="iframeMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3230.3183676296226!2d139.4178015151191!3d35.93918108013496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018d710bd4737b5%3A0x85124df463eb5d0b!2s383%20Kamihiroya%2C%20Tsurugashima%2C%20Saitama%20350-2203!5e0!3m2!1sko!2sjp!4v1658906231490!5m2!1sko!2sjp" width="100%" height="350" allowfullscreen="allowfullscreen" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <!-- google-map end -->
                </div>
                <!-- map-info start -->
                <div class="col-lg-6">
                    <div class="singleMapBox-info">
                        <h2><i class="fa-solid fa-map-location-dot" style="color: var(--primary); font-size: 1em; padding-right: .5em;"></i>info</h2>
                    </div>
                </div>
                <!-- map-info end -->
                
            </div>
        </div>
    </div>
    <!-- access end -->
</div>

</html>

<script>
    // google-map
    // Initialize and add the map
    let map;
    function initSingleMap() {
        // The map, centered at myLatLng
        const map = new google.maps.Map(document.getElementById("singleMapBox"), {
            zoom: 15,
            center: { lat: 35.93933743697428, lng: 139.4200116547968 },
        });
        
        var marker = new google.maps.Marker({
            position: { lat: 35.93933743697428, lng: 139.4200116547968 },map,
        });
    }
    window.initSingleMap = initSingleMap;

</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM3EkIRxquQ5P4oVMeucj_UlVJCTO3-uA&callback=initSingleMap&v=weekly"
    defer>
</script>

<script type="text/javascript">
    $(function() {
        $("#inquiryA").click(function(){
            location.href = '/#test';
            mainInquiry();
        });
        
    });

    // Open the Modal
    function openModal() {
        document.getElementById("gallery-modal").style.display = "block";
    }

    // Close the Modal
    function closeModal() {
        if(event.target==document.getElementById("gallery-modal")){
            document.getElementById("gallery-modal").style.display = "none";
        }
    }

    var slideIndex = 1;
        showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("gallery-box-thumbImg");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }

</script>
