<!DOCTYPE html>
<html
xmlns:th="http//www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main}"
>

<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous"
/>

<!-- contact.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/assets/css/saiyou.css"/>
</th:block>

<th:block layout:fragment="content">
    
    <!-- Full Screen Search Start -->
    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">採用広告</h1>
                <h5 class="text-white">採用</h5>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->

    <!-- Service Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div class="saiyou bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon">
                            <img height="300px" width="300px" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover;">
                        </div>
                        <br>
                        <h4 class="shokushu">看護師<br>（正看護師、准看護師）</h4><br>
                        <p class="saiyou_naiyou">
                            土曜 日勤パート（9～18時）<br>
                            夜勤（17～9時30分）<br><br>
                            主な業務内容<br><br>
                            ◆バイタルサイン測定<br>
                            ◆フィジカルアセスメント<br>
                            ◆個別的なケア<br>
                            ◆排せつ介助、保清、食事介助等<br>
                            ◆医師の指示による医療処置<br>
                            ◆訪問診療時の医師への対応<br>
                            ◆看護記録の記載<br>
                            ◆意思決定支援、グリーフケアなど、ご家族を含めたケア<br>
                            ＊	日勤パート 時給：2,000円～　夜勤 日給：3万円
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                    <div class="saiyou bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon">
                            <img height="300px" width="300px" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover;">
                        </div>
                        <br>
                        <h4 class="shokushu">介護士<br>（初任者研修または実務者研修修了者）</h4><br>
                        <p class="saiyou_naiyou">
                            <span>
                            現在募集しておりません<br><br>
                            主な業務内容<br><br>
                            ◆移乗、食事、入浴、排泄、体位交換、口腔ケアなどの身体介護<br>
                            ◆居室の掃除、洗濯物管理、厨房の補助などの生活援助<br>
                            ＊	
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                    <div class="saiyou bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon">
                            <img height="300px" width="300px" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover;">
                        </div>
                        <br>
                        <h4 class="shokushu">サービス提供責任者<br>（実務者研修修了者、介護福祉士）</h4><br>
                        <p class="saiyou_naiyou">
                            現在募集しておりません<br><br>
                            主な業務内容<br><br>
                            ◆ケアプランに基づいた訪問介護計画書の作成<br>
                            ◆サービス提供実績の管理<br>
                            ◆介護職への指導、アドバイス<br>
                            ◆利用者様やご家族、関係者との連絡調整業務<br>
                            ◆サービス担当者会議への出席、多職種との連携<br>
                            ◆身体介護、生活援助業務（事務業務だけでなく介護業務もあり）</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div class="saiyou bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon">
                            <img height="300px" width="300px" data-wow-delay="0.9s" src="/assets/img/about.jpg" style="object-fit: cover;">
                        </div>
                        <br>
                        <h4 class="shokushu">その他</h4><br>
                        <p class="saiyou_naiyou">
                            アルバイト・パート<br>
                            （6～10時または15時～19時）<br><br>
                            主な業務内容<br><br>
                            ◆	早朝または夕方から短時間（月・水・金・土曜）<br>
                            ◆	簡単な調理・配膳・盛付け<br>
                            ◆	掃除・洗濯<br>
                            ＊	時給：1,200円</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon">
                            <i class="fa fa-search text-white"></i>
                        </div>
                        <h4 class="mb-3">SEO Optimization</h4>
                        <p class="m-0">Amet justo dolor lorem kasd amet magna sea stet eos vero lorem ipsum dolore sed</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                    <div class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                        <h2 class="text-white mb-3" style="font-family: 'M PLUS rounded 1c'; font-size: 30px;">まずはお気軽にお問合せ下さい</h3>
                        <h3 class="text-white mb-3" style="font-family: 'M PLUS rounded 1c'; font-size: 30px;">〒350-2203<br>埼玉県鶴ヶ島市上広谷383</h3>
                        <h2 class="text-white mb-0" style="font-family: 'M PLUS rounded 1c'; font-size: 30px;"><span style="font-family: 'M PLUS rounded 1c'; font-size: 25px;">TEL</span>049-271-5588</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/lib/wow/wow.min.js"></script>
    <script src="/assets/lib/easing/easing.min.js"></script>
    <script src="/assets/lib/waypoints/waypoints.min.js"></script>
    <script src="/assets/lib/counterup/counterup.min.js"></script>
    <script src="/assets/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/assets/js/main.js"></script>
</th:block>

</html>