<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

<!-- contact.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/assets/css/contact.css" />
</th:block>

<th:block layout:fragment="content">

    <!-- Full Screen Search Start -->
    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">採用</h1>
                <h5 class="text-white">採用</h5>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->

    <!-- Service Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div
                        class="saiyou bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="shokushu">介護職・ヘルパー</h4><br>
                        <p class="saiyou_setsumei">医修館 鶴ヶ島では<br>「訪問介護職・ヘルパー」を<br>募集しています</p>
                        <table>
                            <tr class="tr1">
                                <th class="koumoku">募集職種</th>
                                <td class="saiyou_naiyou">介護職・ヘルパー</td>
                            </tr>
                            <tr class="tr2">
                                <th class="koumoku">施設種別</th>
                                <td class="saiyou_naiyou">訪問介護</td>
                            </tr>
                            <tr class="tr1">
                                <th class="koumoku">メリット</th>
                                <td class="saiyou_naiyou">車通勤OK、自転車通勤OK、社会保険完備、交通費全額支給、男性活躍中、中高年齢活躍中、制服あり</td>
                            </tr>
                            <tr class="tr2">
                                <th class="koumoku">必要資格</th>
                                <td class="saiyou_naiyou">介護職員初任者研修（ヘルパー2級）、介護職員実務者研修（ヘルパー1級）、介護福祉士</td>
                            </tr>
                            <tr class="tr1">
                                <th class="koumoku">勤務時間</th>
                                <td class="saiyou_naiyou">08:00-17:00、08:30-17:30、16:30-09:30（勤務時間要相談、仮眠、休憩有）</td>
                            </tr>
                            <tr class="tr2">
                                <th class="koumoku">仕事内容</th>
                                <td class="saiyou_naiyou">食事、移乗活動、更衣、入浴、排せつなどの身体介護と生活介護全般</td>
                            </tr>
                            <tr class="tr1">
                                <th class="koumoku">雇用形態</th>
                                <td class="saiyou_naiyou">正社員</td>
                            </tr>
                            <tr class="tr2">
                                <th class="koumoku">給与</th>
                                <td class="saiyou_naiyou">年俸制：4,210,000円～4,450,000円(当社規定12分割にて毎月支払い)</td>
                            </tr>
                            <tr class="tr1">
                                <th class="koumoku">待遇及び福利厚生</th>
                                <td class="saiyou_naiyou">交通費全支給 昇給年1回、各種社会保険完備</td>
                            </tr>
                            <tr class="tr2">
                                <th class="koumoku">休日<br>・休暇</th>
                                <td class="saiyou_naiyou">完全週休2日制、シフト制</td>
                            </tr>
                        </table><br>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">応募する</a>
                    </div>
                </div>
                
                
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div
                        class="saiyou bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="shokushu">看護師</h4><br>
                        <p class="saiyou_setsumei">医修館 鶴ヶ島では<br>「訪問看護師」を<br>募集しています</p>
                        <table>
                            <tr class="tr1">
                                <th class="koumoku">募集職種</th>
                                <td class="saiyou_naiyou">看護師</td>
                            </tr>
                            <tr class="tr2">
                                <th class="koumoku">施設種別</th>
                                <td class="saiyou_naiyou">訪問看護</td>
                            </tr>
                            <tr class="tr1">
                                <th class="koumoku">メリット</th>
                                <td class="saiyou_naiyou">車通勤OK、自転車通勤OK、社会保険完備、交通費全額支給、中高年齢活躍中、制服あり</td>
                            </tr>
                            <tr class="tr2">
                                <th class="koumoku">必要資格</th>
                                <td class="saiyou_naiyou">看護師資格</td>
                            </tr>
                            <tr class="tr1">
                                <th class="koumoku">勤務時間</th>
                                <td class="saiyou_naiyou">08:00-17:00、08:30-17:30、16:30-09:30（勤務時間要相談、仮眠、休憩有）</td>
                            </tr>
                            <tr class="tr2">
                                <th class="koumoku">仕事内容</th>
                                <td class="saiyou_naiyou">訪問診療の補助、バイタルサインの測定、服薬管理、医療処置、口腔ケア、経管栄養管理、心身状態の観察</td>
                            </tr>
                            <tr class="tr1">
                                <th class="koumoku">雇用形態</th>
                                <td class="saiyou_naiyou">正社員</td>
                            </tr>
                            <tr class="tr2">
                                <th class="koumoku">給与</th>
                                <td class="saiyou_naiyou">年俸制：4,800,000円～5,200,000円(当社規定12分割にて毎月支払い)</td>
                            </tr>
                            <tr class="tr1">
                                <th class="koumoku">待遇及び福利厚生</th>
                                <td class="saiyou_naiyou">交通費全支給 昇給年1回、各種社会保険完備</td>
                            </tr>
                            <tr class="tr2">
                                <th class="koumoku">休日<br>・休暇</th>
                                <td class="saiyou_naiyou">週休2日制、シフト制</td>
                            </tr>
                        </table><br>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">応募する</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div
                        class="saiyou bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="shokushu">地域診療連携室スタッフ</h4><br>
                        <p class="saiyou_setsumei">医修館 鶴ヶ島では<br>地域の診療施設や病院と連携を行う<br>スタッフを募集しています</p>
                        <table>
                            <tr class="tr1">
                                <th class="koumoku">募集職種</th>
                                <td class="saiyou_naiyou">ケアマネージャー</td>
                            </tr>
                            <tr class="tr2">
                                <th class="koumoku">施設種別</th>
                                <td class="saiyou_naiyou">訪問看護</td>
                            </tr>
                            <tr class="tr1">
                                <th class="koumoku">メリット</th>
                                <td class="saiyou_naiyou">車通勤OK、自転車通勤OK、社会保険完備、交通費全額支給、中高年齢活躍中、制服あり</td>
                            </tr>
                            <tr class="tr2">
                                <th class="koumoku">必要資格</th>
                                <td class="saiyou_naiyou">ケアマネージャー資格</td>
                            </tr>
                            <tr class="tr1">
                                <th class="koumoku">勤務時間</th>
                                <td class="saiyou_naiyou">08:00-17:00、08:30-17:30、16:30-09:30（勤務時間要相談、仮眠、休憩有）</td>
                            </tr>
                            <tr class="tr2">
                                <th class="koumoku">仕事内容</th>
                                <td class="saiyou_naiyou">ご入居者のケアプランの作成やアセスメント・カンファレンスの開催、介護請求等、幅広く担当していただきます。</td>
                            </tr>
                            <tr class="tr1">
                                <th class="koumoku">雇用形態</th>
                                <td class="saiyou_naiyou">正社員</td>
                            </tr>
                            <tr class="tr2">
                                <th class="koumoku">給与</th>
                                <td class="saiyou_naiyou">年俸制：3,600,000円～4,200,000円(当社規定12分割にて毎月支払い)</td>
                            </tr>
                            <tr class="tr1">
                                <th class="koumoku">待遇及び福利厚生</th>
                                <td class="saiyou_naiyou">交通費全支給 昇給年1回、各種社会保険完備</td>
                            </tr>
                            <tr class="tr2">
                                <th class="koumoku">休日<br>・休暇</th>
                                <td class="saiyou_naiyou">週休2日制、シフト制</td>
                            </tr>
                        </table><br>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">応募する</a>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                    <div
                        class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                        <h2 class="text-white mb-3" style="font-family: 'M PLUS rounded 1c'; font-size: 30px;">
                            まずはお気軽にお問合せ下さい</h3>
                            <h3 class="text-white mb-3" style="font-family: 'M PLUS rounded 1c'; font-size: 30px;">
                                〒350-2203<br>埼玉県鶴ヶ島市上広谷383</h3>
                            <h2 class="text-white mb-0" style="font-family: 'M PLUS rounded 1c'; font-size: 30px;"><span
                                    style="font-family: 'M PLUS rounded 1c'; font-size: 25px;">TEL</span>049-271-5588
                            </h2>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Service End -->

</th:block>

</html>